.App {
    text-align: center;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    height: auto;
}

.main-content {
    padding: 0px 0 40px 0;
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.main-content-container {
    background-color: #3c5775;
    background-image: url("../images/batthern.png");
}

.Toolbar {
    height: 10vh;
    /*background-color: #3c5775;*/
    /*background-image: url("../images/batthern.png");*/
    display: table;
    width: 100%;
}

.g-25{
    width: 25%;
}

.g-50{
    width: 50%;
}

header {
    width: 100vw;
    height: 3rem;
    font-size: 20px;
    color: lightblue;
    position: relative;
    vertical-align: middle;
    display: table-cell;
    font-family: 'Poppins', sans-serif;
}

h2 {
    margin: auto;
}

h2:hover {
    cursor: default;
}

h6:hover {
    text-decoration: underline;
    cursor: pointer;
}

.PersonalSymbol {
    height: 1.5em;
    width: 2.5em;
    float: left;
}

.SeparationLine {
    float: left;
    height: 1.5em;
    border-left: 2px solid lightblue;
}

.selectable-directory:hover{
    opacity: 0.7;
}

.login{
    position: absolute;
    right: 14px;
    top: 14px;
    margin: auto;
}

footer {
    width: 100%;
    height: 40vh;
    background-color: #282D36;
    color: #FFF;
    padding-top: 4vh;
}

.btn {
    padding: 10px 16px 10px 16px;
    border: 2px solid lightblue;
    background-color: inherit;
    color: lightblue;
    display: inline-block;
    margin: 0 auto;
    font-size: 1em;
    border-radius: 4px;
}

.btn img {
    height: 1em;
    width: 1em;
}

input {
    display: none;
}

.btn-container {
    display: table-cell;
    vertical-align: middle;
}

.btn:hover {
    border-color: #FFF;
    color: #FFF;
    background-color: #3c578F;
}

@media screen and (max-width: 1150px) {
    h2 {
        max-width: 50vw;
    }
}

@media screen and (max-width: 770px) {
    h2 {
        display: none;
    }
}
