body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    height: 5rem;
    width: 100%;
    font-size: 20px;
    text-align: center;
}

.upload-section{
    height: 5rem;
    width: 100%;
    text-align: center;
    user-select: none;
}

footer{
    width: 100%;
    height: 3rem;
    text-align: center;
    bottom:0;
}

#files{
    max-width: 1200px;
    text-align: center;
    margin: auto;
}

.icon-generic{
    background: url("file_generic.png") center center no-repeat;
}

.icon-audio{
    background: url("file_music.png") center center no-repeat;
}

.file{
    display: inline-block;
    width: 270px;
    height: 270px;
    vertical-align: top;
    padding: 0.2em;
    margin-left: 0.2rem;
    text-align: left;
    font-size: 20px;
    border: 2px solid #4caf50;
    border-radius: 20px;
    margin-top: 0.2rem;
}

.file-thin{
    display: block;
    width: 100%;
    height: 32px;
    vertical-align: top;
    padding: 0.2em;
    margin-left: 0.2rem;
    text-align: left;
    font-size: 20px;
    border: 2px solid #4caf50;
    border-radius: 10px;
    margin-top: 0.2rem;
    background-image: none;
}

.file-header{
    height:32px;
    width: 100%;
    position: relative;
}

.file-number{
    font-size: 1.2em;
    font-weight: bold;
    color: #4CAF50;
    left: 6px;
    position: absolute;
}

.file-name{
    left: 34px;
    position: absolute;
    color: #4caf50;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 200px;
    height: 32px;
    white-space: nowrap;
}

.file-name-thin{
    left: 34px;
    position: absolute;
    color: #4caf50;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: lighter;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 700px;
    height: 32px;
    white-space: nowrap;
}

.file-delete{
    width: 30px;
    height: 30px;
    right: 6px;
    position: absolute;
    cursor: pointer;
}

.file-delete:hover{
    opacity: 0.6;
}

.copyright-text{
    color: #4CAF50;
    font-size: 0.75rem;
    vertical-align: bottom;
}

.pre-footer{
    margin-top: 20px;
    background-color: #4CAF50;
    height: 2rem;
    width: 100%;
    bottom: 3rem;
}

.btn {
    color: #ffffff;
    font-size: 20px;
    background: #4caf50;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

.btn:hover {
    background: #58c45c;
    text-decoration: none;
}

#cloud-icon{
}

#add-file{

}

.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

@media (max-width: 530px){
    .file{
        margin-left: 0.2rem;
        margin-right: 0.2rem;
        width: 100%; !important;
        height: 240px; !important;
    }
}